.wrapper {
	display: flex;
	justify-content: center;
	padding: 6px 16px;
	border-radius: 6px;
	margin: 0 6px 6px 0;
	background-color: var(--white);
	box-shadow: var(--box-shadow-light);
	cursor: pointer;
}

.main {
	background-color: var(--pink);
}

.title {
	color: var(--main-text);
	font-size: 14px;
	font-weight: 600;
}

.main_title {
	color: var(--white);
}